<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>manager list</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>
<body>
    <section class="section mt-4">
        <div class="container d-flex flex-column align-items-center justify-content-center">
            <nav class="navbar">
                <form class="d-flex" action="/add-popul">
                    
                    <div class=" mr-2 d-flex flex-column input__div">
                        <span class="text-secondary">namunadagidek yozing</span>
                        <input class="add__student" type="text" required placeholder="ismi familiyasi yoshi" >
                    </div>
                    <select class="mx-2" name="hudud" id="selectHudud">
                        <option value="active">Viloyat</option>
                        <option value="andijon">Andijon</option>
                        <option value="buxoro">Buxoro</option>
                        <option value="fargona">Farg'ona</option>
                        <option value="jizzax">Jizzax</option>
                        <option value="xorazm">Xorazm</option>
                        <option value="namangan">Namangan</option>
                        <option value="navoiy">Navoiy</option>
                        <option value="samarqand">Samarqand</option>
                        <option value="sirdaryo">Sirdaryo</option>
                        <option value="qashqadaryo">Qashqadaryo</option>
                        <option value="toshkent">Toshkent</option>
                        <option value="surxondaryo">Surxondaryo</option>
                        <option value="qoraqalpogiston">Qoraqalpog'iston</option>
                        <option value="toshshahar">Toshkent shahar</option>
                    </select>
                    <select class="mx-2" name="kurs" id="kursRuyxat"></select>
                    <select class="ml-2" name="manba" id="qayerdantopdi"></select>
                </form>
            </nav>
            <header class="header d-flex justify-content-between">
                <div class="left d-flex flex-column align-items-center justify-content-center">
                    <button type="menu" class="btn btn-success w-75">O'quvchilar ro'yxati</button>
                    <button type="menu" class="btn btn-success w-75 my-4">Kurslar ro'yxati</button>
                    <button type="menu" class="btn btn-success w-75">Manbalar ro'yxati</button>
                </div>
                <div class="right">
                    <div class="oquvchi__ruyxati">
                        
                        <ul class="list-oquvchi"></ul>
                        
                    </div>
                    <div class="kurs__ruy">
                        <form action="/add_kurs">
                            <input type="text">
                            <button>add</button>
                        </form>
                        <ul class="list-kurs"></ul>
                    </div>
                    <div class="manba__ruyxati d-none">
                        <form action="post">
                            <input type="text">
                            <button>add</button>
                        </form>
                        <ul class="list-manba"></ul>
                    </div>
                </div>
            </header>
        </div>
    </section>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <script src="../public/main.js"></script>
</body>
</html>