<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>manager list</title>
    <link rel="stylesheet" href="../public/style.css">
</head>
<body>
    <section class="section">
        <div class="container">
            <nav class="navbar">
               <form action="">
                   <input class="add__popul__input" type="text" required placeholder="ismingiz">

                   <input class="add__popul__age" type="number" required name="age" id="ageInput" placeholder="necha yosh" >

                   <select  class="select__kurs" name="kusrlar" id="selectKursElem"></select>
                   <select class="select__manba" name="manbalar" id="selectManbaElem" ></select>
               </form>
            </nav>
            <div class="manager__list__body">
                <div class="left">
                    <button class="list__popul">ro'yxat</button>
                    <button class="add__kurs">kurslarga qo'shish</button>
                    <button class="add__manba">manbalarga qo'shish</button>
                </div>
                <div class="right">
                    <ul class="lists">
                        <li class="item__element"></li>
                        <li class="item__element"></li>
                        <li class="item__element"></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    
     
    
</body>
</html>