<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>manager list</title>
    
</head>
<body>
   <section class="section">
       <div class="container">
           <nav class="navbar">
               <form action="">
                   <input class="add__popul__input" type="text" required placeholder="ismingiz">

                   <input class="add__popul__age" type="number" required name="age" id="ageInput" placeholder="necha yosh" >

                   <select name="kusrlar" id="selectKursElem" class="select__kurs"></select>
                   <select name="manbalar" id="selectManbaElem" class="select__manba"></select>
               </form>
           </nav>
       </div>
   </section>
    
     
    
</body>
</html>