*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
ol, ul{
    list-style: none;
}
a{
    text-decoration: none;
}

.container{
    width: 1140px;
    margin: 0 auto;
}


.section{
    margin-top: 50px;
    
    .navbar{
        display: flex;
        align-items: center;
        justify-content: center;
        form{
            display: flex;
            align-items: center;
            justify-content: center;

            .input__div{
                display: flex; 
                flex-direction: column;
            }
        }
    }
}